[Unit]
Description=Fix for e1000e h/w hang (disable tso/gso offload)
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/sbin/ethtool -K nic0 tso off gso off gro off
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
